$red            : #B03060;
$orange         : #FE9A76;
$yellow         : #FFD700;
$olive          : #32CD32;
$green          : #016936;
$teal           : #008080;
$blue           : #0E6EB8;
$violet         : #EE82EE;
$purple         : #B413EC;
$pink           : #FF1493;
$brown          : #A52A2A;
$grey           : #A0A0A0;
$black          : #000000;

$primaryColor   : $orange;
$secondaryColor : $blue;

html, body {
	height:100%;
}
.full-height{
	position: relative;
	min-height: 100%;
	min-height:100vh;
}
.container{
	position: absolute;
	top: 50%;
	margin-top: -2em;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
div#intro{
	background-color: rgba($blue, 0.5);
}
div#my-test{
	background-color: $yellow;
}
div#my-result{
	// background-image: url(/img/result-bg.jpg);
	// background-repeat: no-repeat;
	// background-position: center center;
	.container{
		padding: 1em;
		background-color: rgba(255,255,255, 0.8);
	}
}