$red            : #B03060;
$orange         : #FE9A76;
$yellow         : #FFD700;
$olive          : #32CD32;
$green          : #016936;
$teal           : #008080;
$blue           : #0E6EB8;
$violet         : #EE82EE;
$purple         : #B413EC;
$pink           : #FF1493;
$brown          : #A52A2A;
$grey           : #A0A0A0;
$black          : #000000;

$primaryColor   : $pink;
$secondaryColor : $grey;

html, body {
	height:100%;
}
.full-height{
	position: relative;
	height: 100%;
	height:100vh;
}
.container{
	position: absolute;
	top: 50%;
	margin-top: -2em;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
div#intro{
	background-color: $yellow;
}
div#my-test{
	background-color: $violet;
}