<!DOCTYPE html>
<html ng-app="MyTestApp">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="Clear Taiwan心理測驗" />
	<meta name="keywords" content="心理測驗, Clear, Clear App" />

	<title>Clear Taiwan 心理測驗</title>

	<link rel="stylesheet" type="text/css" class="ui" href="./css/semantic.min.css" />
	<link rel="stylesheet" type="text/css" href="./css/main.css" />
</head>
<body ng-controller="TestCtrl as ctrl" >
<!--intro-->
<div id="intro" class="row full-height">
	<div id="intro-text" class="container">
		<div class="ui vertical masthead center aligned segment">
			<h1 class="ui header">Clear Taiwan 心理測驗</h1>
			<p>我是介紹文字．我是文案．我是文案．</p>
			<button id="start-btn" class="ui huge primary button">
				馬上開始<i class="right arrow icon"></i>
			</button>
		</div>
	</div>
</div>
<div class="ui page dimmer">
	<div class="content">
		<div class="center">
			<p>Clear Taiwan FB粉絲團</p>
			<div class="ui large primary button">Add</div>
		</div>
	</div>
</div>
<!--test-->
<div id="my-test" class="row full-height">
	<div class="container">
		<h2 class="ui header">第 <strong>{{ctrl.q.no}}</strong> 題</h2>
		<h1 class="ui header">{{ctrl.q.question}}</h1>
		<div class="ui equal width stackable center aligned padded grid">
			<div class="row">
				<div ng-repeat="(key, val) in ctrl.q.answer" class="column">
					<button ng-click="ctrl.goToDst(val.dst)" class="ui orange huge button">
						{{val.content}}
				</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--result-->
<div id="my-result" class="row full-height">
	<div class="container">
		<h2 class="ui dividing header">測驗結果！</h2>
		<h1 class="ui header">您是<b>{{ctrl.result.title}}</b></h1>
		<p>{{ctrl.result.content}}</p>
	</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="./js/semantic.min.js"></script>
<script src="./js/all.js"></script>

</body>
</html>